* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a; 
  color: white;
  padding-bottom: 4rem;
}

nav.nav {
  background: #1e293b;
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav.nav a {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav.nav a:hover {
  color: #38bdf8;
}

.contact-section {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
}

.contact-card {
  display: flex;
  background: #1e293b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  max-width: 900px;
  width: 100%;
  gap: 2rem;
  animation: fadeIn 1s ease;
  flex-wrap: wrap;
}

.contact-text {
  flex: 1;
  min-width: 250px;
}

.contact-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #38bdf8;
}

.contact-text p {
  color: #cbd5e1;
  margin-bottom: 1.5rem;
}

.tombol-kontak {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgb(red, green, blue)
}

img {
    height: 60px;
    width: 60px;
}

 