*,
html {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 600;
}

body {
    background-image: url(bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    width: 100px;
    height:100px;
}

.container-ul-li {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}

.ul {
    text-transform: uppercase;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    font-size: 1.2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700a;
}

nav a:hover {
    border-bottom: 2px solid hsl(0, 0%, 100%);
    transition: 1s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 300px;
}

.content img {
    width: 25rem;
    height: 300px;
}

.about {
    color:#fff;
    width: 300px;
    height: 400px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 200px;
    margin-right: 50px;
}

.about h2 {
    font-size: 2.4rem;
}


.li-navbar {
    list-style-type: none;
}